//====================================================================================================

.main-block {
     background: url('@img/main-page/main-block/bg.jpg') center/cover no-repeat;
     @include adaptiveValue("padding-top", 40, 20);
     @include adaptiveValue("padding-bottom", 60, 20);
   &__container {
   }

   &__body {
      display: grid;
      grid-template-columns: 1fr percent(636, 1600);
      //percent это миксин который считаки проценты, 636 это ширина кортинки, 1600 шерина контенткой части 
   }

   &__slider {
   }

   &__swiper {
   }

   &__slide {
   }

   &__media {
   }

   &__advantares {
   }
}
.slide-main-block {

   &__content {
      color: #fff;
      padding:  0px rem(40) 0px 0px;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom",60 ,30 );
         // отступ ОТ  кнопки
      }
      // 
   }

   &__title {
      font-weight: 700;
      letter-spacing: 0.03em;
      font-size: rem(36);
      line-height: math.div(46 , 36);
      &:not(:last-child) {
         // если останется один, тоесть последний мержин удвлится
         margin-bottom: em(15, 36);
         // мержин опирается на размер шрифте, ем это относительная еденица 15 это отступ по макету, 36 размер шрифта
      }
   }

   &__sub-title {
      font-size: rem(36);
      line-height: math.div(46 , 36);
      &:not(:last-child) {
         margin-bottom: em(30, 36);
      }
   }

   &__text {
      color: rgba(255, 255, 255, 0.7);
      font-size: rem(20);
      line-height: math.div(30 , 20 );

}


}
.media-main-block {
   display: flex;
   justify-content: center;
   align-items: center; 
   padding: rem(15);
   // отступы безопасности 
   &__body {
      position: relative;
      
   }

   &__image {
     
      &::before{
         content:'';
         // сверстаем круг
         width: 423px;
         height: 423px;
         border:2px solid rgba(255, 255, 255, 0.5);
         border-radius:50%;
         position: absolute;
         // относительно родителя,. прижат к низу и справа
         bottom: 2%;
         right: 0;
         // теперь круг сместить/ 131 на сколькосмешен, 423 размер круша, процент смещение считается
        transform: translate(percent(131,423),0px);
      }
      img{
         position: relative;
         z-index: 2;
      }
   }




   &__tips {
      // делаем на всю ширину и высту обьекта
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }

   &__tip {
      // делаем маленькие кружочки и позиционируекм их
      position: absolute;
      // это их размер
      width: rem(20);
      height: rem(20);
      cursor: pointer;
      z-index: 5;
      transition: transform 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            // плюсик будет крутится
            transform: rotate(-180deg);
         }
      }
     &::before,&::after{
      content:'';
      border-radius:50%;
      background-color: $mainOrange;
      // позицтя относительно родителя
      position: absolute;width: 100%;height: 100%;top: 0;left: 0;
     }
     &::after{
      opacity: 0.5;
      // 
      transform: scale(1.6);
     }
     span{
      // position: relative;
      z-index: 2;
      font-weight: 600;
      font-size: rem(20);
      color: #FFFFFF;
      position: absolute;width: 100%;height: 100%;top: 0;left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
     }
      &_1 {
         // процент сверху на всю длину
         top: percent(186,500);
         // слева на всю ширину
         left: percent(70,477);
      }

      &_2 {
         top: percent(65,500);
         right: percent(13,477);
        
      }

      &_3 {
         top: percent(362,500);
         right: percent(30,477);
      }
   }

   &__tip
{
   }
}
.advantares-main {

   &__item {
   }

   &__icon {
   }

   &__tex {
   }
}

//====================================================================================================
